body
{
    background-color: bisque;
}

.wrapper
{
    width: 80%;
    border: 1px #000 solid;
    margin: 0 auto;
    min-height: 100px;
}

.header
{
    background-image: url(../images/images.jpg);
    min-height: 100px;
}
